@using GamaWebSitesi.Entity;
@model Product

@{
    ViewBag.Title = "Details";
}

<div class="container pb-4">
    <div class="row mt-2">
        <div class="col-md-6">
            <img src="/Upload/@Model.Image" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <div class="row mt-1">
                <h1>@Model.Name</h1>
            </div>
            <div class="row mt-1">
                <div class="col-md-12">

                    @if (Model.IsApproved && Model.Stock>0)
                    {
                        <span class="badge bg-primary">Stokta</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Stokta Yok</span>
                    }

                    <span class="product-number">#@Model.Id</span>
                </div>

                <div class="row mt-1">
                    <div class="col-md-12">
                        <div id="description">
                            @Model.Description
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-4">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span class="badge bg-success">53</span>
                            </div>
                            <div id="write-review" class="col-md-4">
                                <a href="#">
                                    Yorumunuzu Belirtiniz
                                </a>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-12">
                                <h4 id="product-price">@Model.Price TL</h4>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-12">

                                @using (Html.BeginForm("AddToCart", "Cart"))
                                {
                                    @Html.HiddenFor(i=>i.Id)
                                    <button type="submit" class="btn btn-success">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    Sepete Ekle
                                    </button>

                                }



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="bd-example">
                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="true">Oyun Hakkında</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-payments-tab" data-bs-toggle="pill" data-bs-target="#pills-payments" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" tabindex="-1">Ödeme Yöntemleri</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-comment-tab" data-bs-toggle="pill" data-bs-target="#pills-comment" type="button" role="tab" aria-controls="pills-comment" aria-selected="false" tabindex="-1">Yorumlar</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-description" role="tabpanel" aria-labelledby="pills-description" tabindex="0">
                        <p><h5>Oyun Hakkında Detaylı Bilgi </h5><strong> @Model.Description</strong></p>
                    </div>
                    <div class="tab-pane fade" id="pills-payments" role="tabpanel" aria-labelledby="pills-payments" tabindex="0">

                        <p><div class="container mt-5 px-5">

                             <div class="mb-4">

                            <h2>Ödeme Sayfası</h2>
                            <span>Lütfen Ödemeyi Tamamlamak için Gerekli Bilgileri Giriniz.</span>

                        </div>

                                <div class="row">

                                    <div class="col-md-8">


                                <div class="card p-3">

                                    <h6 class="text-uppercase">Ödeme Deatyları</h6>
                                    <div class="inputbox mt-3"> <input type="text" name="name" class="form-control" required="required"> <span>Kart Üstündeki Ad Soyad</span> </div>


                                    <div class="row">

                                        <div class="col-md-6">

                                            <div class="inputbox mt-3 mr-2">
                                                <input type="text" name="name" class="form-control" required="required"> <i class="fa fa-credit-card"></i> <span>Kart Numarası</span>


                                            </div>


                                        </div>

                                        <div class="col-md-6">

                                            <div class="d-flex flex-row">


                                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>SKT</span> </div>

                                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>CVV</span> </div>


                                            </div>


                                        </div>


                                    </div>



                                    <div class="mt-4 mb-4">

                                        <h6 class="text-uppercase">Billing Address</h6>


                                        <div class="row mt-3">

                                            <div class="col-md-6">

                                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Adres Bilgisi</span> </div>


                                            </div>


                                            <div class="col-md-6">

                                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Şehir</span> </div>


                                            </div>




                                        </div>


                                        <div class="row mt-2">

                                            <div class="col-md-6">

                                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Semt</span> </div>


                                            </div>


                                            <div class="col-md-6">

                                                <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Posta Kodu</span> </div>


                                            </div>




                                        </div>

                                    </div>

                                </div>


                                <div class="mt-4 mb-4 d-flex justify-content-between">


                                    <span>Diğer Adım</span>


                                    <button class="btn btn-success px-3">Ödeme Yap</button>




                                </div>

                            </div>

                        </div>


                            </div>
                        </p>

                    </div>
                    
                    
                    <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment" tabindex="0">
                        <p>Oyun Hakkında Yapılan Yorumlar Eklenecek</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
